<%= form_with(model: word, local: true) do |form| %>
  <% if word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1>
    <%= form.object %>
  </h1>
  <%= form.file_field :picture %><br>
  <%= form.fields_for :word_tags do |wt| %>
      <div class="field">
        <%= wt.label :tag_id %>
        <%= wt.select :tag_id, Tag.all.collect{|p| [p.text, p.id]}, include_blank: true %>

    <% if wt.object.persisted? %>
      <%= wt.check_box :_destroy %>
      <%= wt.label :_destroy, "Destroy" %>
    <% end %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
