<!DOCTYPE html>
<html>
  <head>
    <title>Helpmechoose</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <!-- < % = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' % > -->
    <link href="http://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet" type="text/css" />

    <meta name="google-signin-client_id" content="548879979522-pfjjpteqqm1r21rirnfqbk65eufh3pdh.apps.googleusercontent.com">

    <%= yield :head %>
  </head>

  <body class="skins-air">
    <%= alert %>
    <div id="root">
      <% if @user %>
        <div style="float: right;">
          <%= image_tag(@user.picture, style: 'border-radius: 50%; width: 50px') if @user.picture %>
          <%= @user.name %>
          <%= button_to 'Logout', "/sessions/destroy", method: "delete" %>
          <a href="#" onclick="signOut()">Sign out (popup)</a>
        </div>
      <% end %>

      <%= yield %>
    </div>
    <div class="page-wrapper">
    </div>
  </body>
</html>
