<!DOCTYPE html>
<html>
  <head>
    <title>Helpmechoose</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <!-- < % = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' % > -->
    <link href="http://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet" type="text/css" />

    <meta name="google-signin-client_id" content="548879979522-pfjjpteqqm1r21rirnfqbk65eufh3pdh.apps.googleusercontent.com">

    <%= yield :head %>
  </head>

  <body class="skins-air">
    <%= alert %>
    <div id="root">
      <%= yield %>
    </div>
    <div class="page-wrapper">
    </div>
  </body>
</html>
